<h1>Bunny Delights</h1>
<h2>Gifts for rabbit lovers!</h2>

<p>
	This is a site that posts gifts for rabbit lovers and animal enthusiasts.
</p>

<p>
	This site was built as a project for <%= link_to "One Month Rails", "http://onemonthrails.com" %>
</p>
