<center>
	<div class="hero-unit">
	<h1>Bunny Delights</h1>
	<h2>Gifts for rabbit lovers!</h2>

<p>
	<%= link_to "Sign Up Here", "#", class: "btn btn-success btn-large" %>
</p>
<p>
	to post your own items
</p>

</div>

</center>


